/*==================== FOOTER ====================*/
.footer {
  padding-top: 2rem;
  background-color: var(--body-color);
}

.footer__container {
  display: flex;
  gap: 2rem;
}
.footer__container div {
  flex: 1;
}

.footer__bg {
  background-color: var(--input-color);
  padding: 2rem 0 3rem;
}

.footer__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer__subtitle {
  font-size: var(--small-font-size);
}

.footer__social {
  font-size: 1.5rem;
  margin-right: var(--mb-1-5);
  transition: 0.3s;
}

.footer__social:hover {
  color: var(--first-color-lighter);
}

.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  font-weight: var(--font-medium);
}

.footer__link:hover {
  color: var(--first-color-lighter);
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
  color: var(--title-color);
}

@media screen and (max-width: 426px) {
  .footer__container {
    flex-direction: column;
    gap: 2rem;
  }
}
